@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

@media (max-width:1500px){
   html{
      font-size: 14px;
   }
}

@media (max-width:1204px){
   html{
      font-size: 12px;
   }
}

@media (max-width:1000px){
   html{
      font-size: 10px;
   }
}

@media (max-width:850px){
   html{
      font-size: 8px;
   }
}

.outer-sec1{
   position: relative;
   margin-bottom: 17rem;
}

.sec1{
    overflow: hidden;
    border-radius: 0 0 50% 50%;
    background-color: #4A864B;
    animation: circle 2s ease-out;
}
@keyframes circle {
   0%{
      opacity: 0;
     border-radius: 0 0 10% 10%;
   }
   100% {
     opacity: 1;
     border-radius: 0 0 50% 50%;
   }
 }

.navbar{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1% 4%;
    align-items: center;
}

 .burger1 {
   position: relative;
   width: 40px;
   height: 30px;
   background: transparent;
   cursor: pointer;
   display: block;
   margin: auto;
 }
 
 .burger1 input {
   display: none;
 }
 
 .burger1 span {
   display: block;
   position: absolute;
   height: 2px;
   width: 100%;
   background: rgb(255, 255, 255);
   border-radius: 9px;
   opacity: 1;
   z-index: 11;
   transition: 0.25s ease-in-out;
 }
 
 .burger1 span:nth-of-type(1) {
   width: 80%;
   left: 10%;
   right: 10%;
   top: 0px;
   transform-origin: center left;
 }
 
 .burger1 span:nth-of-type(2) {
   top: 50%;
   transform: translateY(-40%);
   transform-origin: center left;
 }
 
 .burger1 span:nth-of-type(3) {
   top: 100%;
   width: 80%;
   left: 10%;
   right: 10%;
   transform-origin: center left;
   transform: translateY(-90%);
 }
 
 .burger1 input:checked ~ span:nth-of-type(1) {
   transform: rotate(45deg);
   top: 0px;
   width: 100%;
   left: 5px;
 }
 
 .burger1 input:checked ~ span:nth-of-type(2) {
   width: 0%;
   opacity: 0;
 }
 
 .burger1 input:checked ~ span:nth-of-type(3) {
   transform: rotate(-45deg);
   top: 28px;
   width: 100%;
   left: 5px;
 }
 

.nav-left{
    display: flex;
    align-items: center;
    justify-content: space-betweens;
}

.nav-left .MENU-1{
   display: none;
}

.nav-left ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0 2%;
    justify-content: space-around;
    width: 100%;
}
 .nav-left ul a li{
    padding: 10px;
    font-size: 1.2rem;
    transition: all .5s ease-in-out;
 }

 .nav-left ul a li:hover{
    color: rgb(187, 186, 186);
 }

 .nav-left ul a{
    text-decoration: none;
    color: #fff;
 }

 .nav-right button{
    padding: 15%;
    width: max-content;
    border-radius: 5px;
    border: none;
    color: #4A864B;
    cursor: pointer;
    transition: all .5s ease-in-out;
 }

 .nav-right button:hover{
    background-color: rgb(187, 186, 186);
 }

 .heading{
    display: flex;
    margin: 2rem 15rem;
    align-items: center;
 }

 

 .header p{
    font-size: 3.5rem;
    font-weight: bold;
    color: #fff;
    margin-right: 10rem;
 }
 
 .header #heading-pickle{
    color: #F2BB13;
    font-size: 4.5rem;
 }

 .heading .header-img{
    position: relative;
 }

 .heading .header-img #bg{
    position: absolute;
    z-index: 0;
    right: -25%;
    top: -16%;
    width: 30rem;
    animation: infintcircle 60s infinite linear;
 }
 @keyframes infintcircle {
   from {
     transform: rotate(0);
   }
   to {
     transform: rotate(360deg);
   }
 }

 .heading .header-img #h-img{
    position: relative;
    z-index: 1;
    width: 20rem;
    top: 2rem;
 }

 .mango{
   display: flex;
   position: absolute;
   top: 25rem;
   left: 23%;
   z-index: 2;
 }

 .mango img{
   width: 20rem;
 }

.sec2{
    top: 0;
    position: absolute;
    width: 100%;
    background-color: #1C431E;
    height: 44rem;
    z-index: -1;
}

.sec2 .dote{
   position: relative;
   width: 48px;
   margin-left: 1%;
   bottom: -35rem;
}

.sec2 .dote hr{
    margin-bottom: 4%;
    border: 0.5rem dotted #4A864B;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.sec2 .right-dote{
    position: absolute;
    bottom: 1%;
    right: 2%;
}

/* section2 end here  */
.sec3 .product h1{
   font-size: 2rem;
   color: #537256;
   text-align: center;
}


.sec3 .product .all-product .perticular-product .img-div{
   text-align: center;
   margin: 3px;
   height: 15rem;
}

.sec3 .product .all-product .perticular-product .img-div img{
   width: 13rem;
}

.sec3 .product .all-product .perticular-product h2{
   color: #4A864B;
   font-family: 'Chakra Petch', sans-serif;
   font-size: 1.5rem;
}

.sec3 .product .all-product{
   display: flex;
   justify-content: center;
   margin: 2% 0;
   flex-wrap: wrap;
}

.sec3 .product .all-product .perticular-product p{
   font-size: 1.3rem;
}

.sec3 .product .all-product .perticular-product{
   border-radius: 5px;
   box-shadow: 0px 0px 20px 10px #F7F7F7;
   margin: 1%;
   width: 15rem;
}

.sec3 .product .all-product .perticular-product .pro-detail{
   text-align: center;
   line-height: 200%;
   padding: 5% 0
}

.sec3 .product .all-product .perticular-product .buyNow-btn{
   padding: 0.7rem 1.2rem;
    width: max-content;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    background-color: #4A854B;
}


@media (max-width:750px){
   .nav-right{
      display: none;
   }
   .nav-left{
      justify-content: space-between;
      width: 100%;
   }
   .nav-left ul{
      display: block;
      position: absolute;
      background-color: #1C431E;
      left: 0;
      margin: 0%;
      text-align: center;
      top: -100%;
      z-index: 10;
      padding: 2% 0;
      transition: all .8s ease-in-out;
   }
   .nav-left ul a{
      display: inline-block;
      margin: 0 40%;
   }
   .nav-left .MENU-1{
      display: block;
   }
   .sec1{
      border-radius: 0 0 30% 30%;
      animation: circle 2s ease-out;
  }
  @keyframes circle {
   0%{
      opacity: 0;
     border-radius: 0 0 5% 5%;
   }
   100% {
     opacity: 1;
     border-radius: 0 0 30% 30%;
   }
 }
}

@media (max-width: 650px){
   .heading{
      margin: 2rem 2rem;
   }
   .header p{
      font-size: 2.5rem;
   }
   .header #heading-pickle{
      font-size: 4rem;
   }
   .sec1{
      border-radius: 0 0 20% 20%;
      animation: circle 2s ease-out;
  }
  @keyframes circle {
   0%{
      opacity: 0;
     border-radius: 0 0 0% 0%;
   }
   100% {
     opacity: 1;
     border-radius: 0 0 20% 20%;
   }
 }
  .mango{
   left: 15%;
 }
}

@media (max-width: 400px){
   .mango img{
      width: 15rem;
   }
   .mango{
      left: 10%;
    }
}